<h1>Paste a url to shorten it</h1>

<form action="/create" method="post">
  <input type="text" name="url">
  <input type="submit" value="make it shorter!">

  </br>
  <label>Private:</label>
  <input type='checkbox' name='private' />

  {{#errors}}
    <div class="error">{{error}}</div>
  {{/errors}}
</form>
