<h1>Done. We created an alias for your URL:</h1>

<table>
  <tr>
    <th>Your shortened URL goes to:</th>
    <td><a href="{{path}}">{{path}}</a></td>
  </tr>
  <tr>
    <th>Your shortened URL is:</th>
    <td><a href="{{alias}}">http://{{host}}/{{alias}}</a></td>
  </tr>
</table>
